<section class="h-screen flex">
  <aside class="w-72 flex-shrink-0 flex flex-col border-r border-gray-200 bg-white">
    <h1 class="flex items-center gap-2 p-6 text-xl font-medium border-b border-gray-200">
      <svg class="w-8 h-8 bg-emerald-500" viewBox="0 0 24 24" fill="currentColor">
        <path d="M12 2L15 8H9L12 2Z" /> <!-- Ãcone de catavento -->
      </svg>
      Emails
    </h1>

    <ul id="emails_list" class="flex-1 overflow-y-auto divide-y divide-slate-100">
      <%= turbo_frame_tag "emails" do %>
        <% @emails.each do |email| %>
          <li class="px-3 hover:bg-emerald-50 hover:text-emerald-500 transition-colors rounded">
            <%= render "inbox", email: email %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </aside>

  <div class="flex-1 p-4 overflow-auto border border-gray-200 rounded ml-4">
    <%= turbo_frame_tag "email_show" do %>
      <div class="flex items-center justify-center h-full text-gray-500 text-lg">
        Selecione um email
      </div>
    <% end %>
  </div>

  <%= turbo_stream_from "emails" %>
</section>
